{% extends 'base.html'%}
{% load static %}
{% block content %}

<style>
{background: #fff !important;  transition: none !important;}
#header .navmenu ul li a {color: #000 !important;}
</style>

<main class="main" style="margin-top: 7%;">

    <!-- Recent Posts Section -->
    <section id="recent-posts" class="recent-posts section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Achievements & Events (News)</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <article>

              <div class="post-img">
                <img src="{% static '' %}assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Entertainment</p>

              <h2 class="title">
                <a href="blog-details.html">Possimus soluta ut id suscipit ea ut in quo quia et soluta</a>
              </h2>
              <p>Possimus soluta ut id suscipit ea ut in quo quia et solutaPossimus soluta ut id suscipit ea ut in quo quia et 
                solutaPossimus soluta ut id suscipit ea ut in quo quia et soluta
              </p>
              <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

            </article>
          </div><!-- End post list item -->


          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <article>

              <div class="post-img">
                <img src="{% static '' %}assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Entertainment</p>

              <h2 class="title">
                <a href="blog-details.html">Possimus soluta ut id suscipit ea ut in quo quia et soluta</a>
              </h2>
              <p>Possimus soluta ut id suscipit ea ut in quo quia et solutaPossimus soluta ut id suscipit ea ut in quo quia et 
                solutaPossimus soluta ut id suscipit ea ut in quo quia et soluta
              </p>
              <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

            </article>
          </div><!-- End post list item -->


          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <article>

              <div class="post-img">
                <img src="{% static '' %}assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Entertainment</p>

              <h2 class="title">
                <a href="blog-details.html">Possimus soluta ut id suscipit ea ut in quo quia et soluta</a>
              </h2>
              <p>Possimus soluta ut id suscipit ea ut in quo quia et solutaPossimus soluta ut id suscipit ea ut in quo quia et 
                solutaPossimus soluta ut id suscipit ea ut in quo quia et soluta
              </p>
              <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <article>

              <div class="post-img">
                <img src="{% static '' %}assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Entertainment</p>

              <h2 class="title">
                <a href="blog-details.html">Possimus soluta ut id suscipit ea ut in quo quia et soluta</a>
              </h2>
              <p>Possimus soluta ut id suscipit ea ut in quo quia et solutaPossimus soluta ut id suscipit ea ut in quo quia et 
                solutaPossimus soluta ut id suscipit ea ut in quo quia et soluta
              </p>
              <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

            </article>
          </div><!-- End post list item -->


          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <article>

              <div class="post-img">
                <img src="{% static '' %}assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Entertainment</p>

              <h2 class="title">
                <a href="blog-details.html">Possimus soluta ut id suscipit ea ut in quo quia et soluta</a>
              </h2>
              <p>Possimus soluta ut id suscipit ea ut in quo quia et solutaPossimus soluta ut id suscipit ea ut in quo quia et 
                solutaPossimus soluta ut id suscipit ea ut in quo quia et soluta
              </p>
              <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <article>

              <div class="post-img">
                <img src="{% static '' %}assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Entertainment</p>

              <h2 class="title">
                <a href="blog-details.html">Possimus soluta ut id suscipit ea ut in quo quia et soluta</a>
              </h2>
              <p>Possimus soluta ut id suscipit ea ut in quo quia et solutaPossimus soluta ut id suscipit ea ut in quo quia et 
                solutaPossimus soluta ut id suscipit ea ut in quo quia et soluta
              </p>
              <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

            </article>
          </div><!-- End post list item -->


        </div><!-- End recent posts list -->

      </div>

    </section><!-- /Recent Posts Section -->

  </main>

{% endblock %}