{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
{background: #fff !important; transition: none !important;}
#header .navmenu ul li a {color: #000 !important;}
</style>

<main class="main" style="margin: 7%;">
  <!-- CSR Section -->
  <section id="csr" class="csr section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>{{ csr_page_headline.title }}</h2>
        <p>{{ csr_page_headline.description|safe }}</p>
    </div>

    <div class="container">
      {% for item in csr_items %}
      <div class="row gy-4 align-items-stretch justify-content-between csr-item">

        {% if forloop.counter|divisibleby:2 %}
          <!-- Image Left, Content Right -->
          <div class="col-lg-6 d-flex align-items-center csr-img" data-aos="zoom-out">
            {% if item.image %}
              <img src="{{ item.image.url }}" class="img-fluid" alt="{{ item.title }}">
            {% endif %}
          </div>
          <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
            <h3>{{ item.title }}</h3>
            {% if item.description %}
              {{ item.description|safe }}
            {% endif %}
            {% if item.button_link %}
              <a href="{{ item.button_link }}" class="btn btn-get-started align-self-start">Learn More</a>
            {% endif %}
          </div>

        {% else %}
          <!-- Content Left, Image Right -->
          <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
            <h3>{{ item.title }}</h3>
            {% if item.description %}
              {{ item.description|safe }}
            {% endif %}
            {% if item.button_link %}
              <a href="{{ item.button_link }}" class="btn btn-get-started align-self-start">Learn More</a>
            {% endif %}
          </div>
          <div class="col-lg-6 d-flex align-items-center csr-img" data-aos="zoom-out">
            {% if item.image %}
              <img src="{{ item.image.url }}" class="img-fluid" alt="{{ item.title }}">
            {% endif %}
          </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </section>
</main>

{% endblock %}
